*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
  cursor: url("svg\\arrowhead-rounded-outline.svg") 1 1, auto;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: font-size 0.3s ease-in-out;
  overscroll-behavior: none;
}
body {
  overscroll-behavior: none;
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

button {
  border: none;
}
a,
button,
.header_logo-sub,
.main-footer_icon {
  cursor: url("svg\\hand-pointer.svg") 1 1, auto;
}

.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 800;
}
#dynamic-lang {
  display: inline-block;
  position: relative;
}

.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  overflow: hidden;
}

.typewriter h1 {
  white-space: nowrap;
  margin: 0;
  border-right: 0.15em solid blue;
  font-size: 5em;
  letter-spacing: 0.15em;
  overflow: hidden;
  width: fit-content;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30ch; /*longueur*/
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: blue;
  }
}

.slide-in {
  animation: slideIn 1s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
}

.slide-out {
  animation: slideOut 0.8s cubic-bezier(0.15, 0.85, 0.6, 1) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  70% {
    transform: translateY(3%); /* pour reculer un ptit peu */
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(35%);
    opacity: 0;
  }
}
.heading-sec_main {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
}
.heading-sec_main--lt {
  font-weight: 800;
}
.heading-sec_main--lt::after {
  content: "";
  background: #7843e9 !important;
}
.heading-sec_main::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #7843e9;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.heading-sec_sub {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
}
.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}
.btn {
  background: #7843e9;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background 0.3s ease;
}
.btn:hover {
  transform: translateY(-3px);
  background: #6741c1;
}
.btn--bg {
  padding: 1.5rem 8rem;
  font-size: 2rem;
}
.btn--med {
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
}
.btn--theme {
  background: #7843e9;
  color: #fff;
}
.btn--theme-inv {
  border: 2px solid #7843e9;
  box-shadow: none;
  padding: calc(1.5rem - 2px) calc(5rem - 2px);
}
.sec-pad {
  padding: 12rem 0;
}
.text-primary {
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}
.d-none {
  display: none;
}
.home-main {
  background: linear-gradient(
      to right,
      rgba(182, 182, 182, 0.4),
      rgba(194, 194, 194, 0.4)
    ),
    url("svg\\endless-constellation.svg");
  background-position: center;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}
.home-main_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}
.home-main_info {
  margin: 3rem auto 0 auto;
  max-width: 80rem;
  font-weight: bold;
}
.home-main_cta {
  margin-top: 5rem;
  text-align: center;
}
.about_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}
.about_content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
.about_content-details-para {
  font-size: 1.8rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.about_content-details-para--hl {
  font-weight: 700;
  margin: 0 3px;
}
.about_content-details-para:last-child {
  margin-bottom: 4rem;
}

.about_content-details-para a {
  text-decoration: underline;
  font-weight: 700;
  color: #7843e9;
  margin: 0 3px;
}

.projects_row {
  display: flex;
  gap: 5rem;
  margin-bottom: 11rem;
}

.projects_row--inverse {
  flex-direction: row-reverse;
}

.projects_row:last-child {
  margin-bottom: 0;
}

.projects_row-img-cont {
  overflow: hidden;
  flex: 1;
  border-radius: 5px;
}

.projects_row-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.projects_row-content {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.projects_row-content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.projects_row-content-desc {
  font-size: 1.8rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.contact {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.5),
      rgba(245, 245, 245, 0.5)
    ),
    url("svg\\common-bg.svg");
  background-size: cover;
  background-position: center;
}
.contact_form-container {
  box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
  background: white;
  padding: 4rem;
  margin-top: 6rem;
  max-width: 80rem;
  text-align: right;
  width: 95%;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
}

.contact_form-field {
  margin-bottom: 4rem;
}

.contact_form-label {
  color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}
.contact_form-input {
  color: #333;
  padding: 2rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1.6rem;
  letter-spacing: 0px;
  /*     background: #f0f0f0; */
  border-radius: 5px;
  font-weight: 600;
}

.contact_form-input::-moz-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
.contact_form-input:-ms-input-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact_form-input::placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
.contact_form-input::-webkit-input-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
.contact_form-input:-ms-input-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
.contact_form-input::-ms-input-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
.contact_form-input:-moz-placeholder {
  opacity: 1;
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
.contact_form-input::-moz-placeholder {
  opacity: 1;
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact_btn {
  width: 30%;
  padding: 2rem 4rem;
  font-size: 1.6rem;
}
.main-footer_link {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.3s;
}

.main-footer_link:hover {
  color: #7843e9;
}

.project-cs-hero {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.5),
      rgba(245, 245, 245, 0.5)
    ),
    url("svg\\common-bg.svg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.project-cs-hero_content {
  padding: 25rem 0 17rem 0;
  max-width: 90rem;
  width: 92%;
  margin: auto;
}
.project-cs-hero_info {
  margin: 3rem auto 0 auto;
  max-width: 80rem;
}

.project-cs-hero_cta {
  margin-top: 5rem;
  text-align: center;
}

.project-details_content {
  padding: 8rem 0;
  max-width: 90rem;
  margin: auto;
}

.project-details_content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.project-details_showcase-img-cont {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-details_showcase-img {
  width: 100%;
  border-radius: 5px;
}

.project-details_showcase-img-small {
  width: 45%;
  display: inline-block;
  transform: translateX(10%);
}

.project-details_showcase-img-small-solo {
  width: 45%;
  transform: translateX(50%);
}

.project-details_content-main {
  width: 100%;
  max-width: 70rem;
  margin: auto;
}

.project-details_desc {
  margin: 0 0 7rem 0;
}

.project-details_desc-para {
  font-size: 1.8rem;
  line-height: 1.7;
  color: #666;
  margin-bottom: 2rem;
}

.project-details_tools-used {
  margin: 0 0 7rem 0;
}

.project-details_tools-used-list {
  display: flex;
  flex-wrap: wrap;
}

.project-details_tools-used-item {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgb(153 153 153 / 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

.project-details_links {
  margin: 0 0;
}

.project-details_links-btn {
  margin-right: 2rem;
}

.project-details_links-btn:last-child {
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 10px 100px rgb(0 0 0 / 0.1);
  transition: top 0.3s;
}

.hidden {
  top: -100px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.header_logo-container {
  display: flex;
  align-items: center;
  transition: color 0.1s;
}

.header_logo-container:hover {
  color: #7843e9;
  transition: color 0.3s ease;
}

.header_logo-img-cont {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  background: #7843e9;
}

.header_logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.header_logo-sub {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.header_links {
  display: flex;
}

.header_link {
  padding: 2.2rem 3rem;
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.header_link:hover {
  color: #7843e9;
}

.header_main-ham-menu-cont {
  display: none;
  width: 3rem;
  padding: 2.2rem 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.header_sm-menu {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 0.1);
}

.header_sm-menu--active {
  visibility: hidden;
  opacity: 0;
}

.header_sm-menu-link a {
  display: block;
  text-decoration: none;
  padding: 2.5rem 3rem;
  font-size: 1.6rem;
  color: #333;
  text-align: right;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s;
}

.header_sm-menu-link a:hover {
  color: #7843e9;
}

.header_sm-menu-link:first-child a {
  border-top: 1px solid #eee;
}

.header_sm-menu-link-last {
  border-bottom: 0;
}

.main-footer {
  background: #000;
  color: #fff;
}

.main-footer_upper {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0;
}
.main-footer_row-1 {
  order: 2;
}

.main-footer_row-2 {
  width: 40%;
  order: 1;
  max-width: 50rem;
}
.main-footer_short-desc {
  margin-top: 2rem;
  color: #eee;
  font-size: 1.5rem;
  line-height: 1.7;
}

.main-footer_social-cont {
  margin-top: 2rem;
}

.main-footer_social-cont a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.main-footer_icon {
  margin-right: 1rem;
  width: 3rem;
}

.main-footer_icon--mr-none {
  margin-right: 0;
}

.main-footer_lower {
  padding: 4rem 0;
  border-top: 1px solid #444;
  color: #eee;
  font-size: 1.2rem;
  text-align: left;
  text-align: center;
}

.main-footer_lower a {
  text-decoration: underline;
  font-weight: 700;
  margin-left: 2px;
}

.heading-sec_mb-bg {
  margin-bottom: 11rem;
}
.heading-sec_mb-med {
  margin-bottom: 9rem;
}

/*#region Responsive*/
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 55%;
  }
  .typewriter h1 {
    font-size: 2em;
  }
  .heading-sec_mb-bg,
  .heading-sec_mb-med {
    margin-bottom: 8rem;
  }
  .sec-pad {
    padding: 8rem 0;
  }
  .header_content {
    padding: 0 2rem;
  }
  .header_logo-img-cont {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.2rem;
  }
  .header_link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem;
  }
  .main-footer_upper {
    padding: 6rem 0;
  }
  .main-footer_row-1 {
    margin-bottom: 5rem;
  }
  .main-footer_row-2 {
    width: 100%;
  }
  .projects_row {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 8rem;
    text-align: center;
  }
  .projects_row-content {
    align-items: center;
  }
  .about_content {
    grid-template-columns: 1fr;
    grid-gap: 8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 4.5rem;
  }
  .heading-sec_sub {
    font-size: 1.8rem;
  }
  .heading-sec_main::after {
    top: calc(100% + 1.2rem);
  }
  .text-primary {
    font-size: 2rem;
  }
  .home-main {
    height: unset;
    min-height: unset;
  }
  .home-main_content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0);
  }

  .about_content-title {
    font-size: 2.4rem;
  }
  .projects_row-content-title {
    font-size: 2.4rem;
  }
  .projects_row-content-desc {
    font-size: 1.7rem;
  }
  .skills_skill {
    align-items: center;
  }
  .contact_form-container {
    padding: 3rem;
  }
  .contact_form-field {
    margin-bottom: 3rem;
  }
  .contact_btn {
    width: 100%;
  }
  .project-cs-hero {
    height: unset;
    min-height: unset;
  }
  .project-cs-hero_content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0);
  }
  .project-details_content-title {
    font-size: 2.4rem;
  }
  .project-details_links-btn {
    margin-right: 0;
    width: 70%;
    margin-bottom: 2rem;
    text-align: center;
  }
  .project-details_links-btn:last-child {
    margin: 0;
  }
  .header_links {
    display: none;
  }
  .header_main-ham-menu-cont {
    display: block;
  }
  .header_sm-menu--active {
    visibility: visible;
    opacity: 1;
  }
  .main-footer_upper {
    display: block;
  }
  .rocket {
    visibility: hidden;
  }
}
/*#endregion Responsive*/

/*#region skill*/
.skills {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 1.2rem;
}
.skills_skill {
  position: relative;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  text-align: center;
  background: rgb(153 153 153 / 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
  transition: all 0.3s ease;
  overflow: hidden;
  min-width: 90px; /*TAILLE DU BLOC*/
}
.skills_skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: width 0.8s ease;
}
.skills_skill::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}
.skills_skill:hover {
  transform: scale(1.1);
}
.skills_skill:hover::before {
  width: var(--level, 100%);
}
.skills_skill:hover::after {
  opacity: 1;
}
.skills_skill:hover .skill-name {
  opacity: 0;
}
.skill-name {
  position: relative;
  z-index: 2;
  transition: opacity 0.3s ease;
}

/*#region couleurs personnalisées*/
/* EXPERT = 100% ADVANCED = 75% INTERMEDIATE = 50% BEGINNER = 25% */
.skill-html::before {
  background: #ff5722;
  --level: 100%;
}
.skill-css::before {
  background: #264de4;
  --level: 100%;
}
.skill-javascript::before {
  background: #f7df1e;
  --level: 75%;
}
.skill-php::before {
  background: #4f5b93;
  --level: 50%;
}
.skill-csharp::before {
  background: #9b4f96;
  --level: 75%;
}
.skill-python::before {
  background: #306998;
  --level: 50%;
}
.skill-nodemon::before {
  background: #76d04b;
  --level: 50%;
}
.skill-express::before {
  background: #000000;
  --level: 75%;
}
.skill-socket::before {
  background: #4d4d4d;
  --level: 50%;
}
.skill-phaser::before {
  background: #007acb;
  --level: 75%;
}
.skill-postgresql::before {
  background: #336791;
  --level: 75%;
}
.skill-pgadmin4::before {
  background: #a44b9e;
  --level: 100%;
}
.skill-phpmyadmin::before {
  background: #8892bf;
  --level: 100%;
}
.skill-sql-server::before {
  background: #cc2927;
  --level: 50%;
}
.skill-mariadb::before {
  background: #00758f;
  --level: 50%;
}
.skill-jquery::before {
  background: #0769ad;
  --level: 25%;
}
.skill-laravel::before {
  background: #fb503b;
  --level: 50%;
}
.skill-nodejs::before {
  background: #3c873a;
  --level: 50%;
}
.skill-git::before {
  background: #f34f29;
  --level: 100%;
}
.skill-github::before {
  background: #181717;
  --level: 100%;
}
.skill-visual-studio::before {
  background: #5c2d91;
  --level: 100%;
}
.skill-vscode::before {
  background: #0078d7;
  --level: 100%;
}
.skill-unity::before {
  background: #222c37;
  --level: 50%;
}
.skill-powershell::before {
  background: #1d1f21;
  --level: 50%;
}
.skill-bash::before {
  background: #4eaa25;
  --level: 75%;
}
.skill-ux::before {
  background: #ff9f1c;
  --level: 50%;
}
.skill-ui::before {
  background: #32a852;
  --level: 75%;
}
.skill-modeling::before {
  background: #ea7600;
  --level: 25%;
}
.skill-figma::before {
  background: #f24e1e;
  --level: 75%;
}
.skill-powerbi::before {
  background: #f2c811;
  --level: 75%;
}
.skill-excel::before {
  background: #217346;
  --level: 25%;
}
.skill-uml::before {
  background: #ffb74d;
  --level: 50%;
}
.skill-adobe::before {
  background: #ff0000;
  --level: 50%;
}
/*#endregion couleur personnalisées*/

/*#endregion skill*/

/*#region Rocket*/

.rocket {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  width: 50px; /*taille fusée*/
  transition: top 2s ease-in-out; /*anim*/
}

.rocket-body {
  width: 50px;
  animation: bounce 0.5s infinite;
}

.rocket-body .body {
  height: 120px; /*hauteur*/
  background-color: #dadada;
  border-top: 4px solid #f5f5f5;
  border-radius: 50% 50% 20% 20%;
}

.rocket-body:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 30px; /*largeur*/
  height: 10px;
  background-color: #554842;
  transform: translateX(-50%);
  border-radius: 60% 60% 0 0;
}

.window {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 25px;
  height: 25px;
  background-color: #ca2e55;
  border: 3px solid #b4b2b2;
  border-radius: 50%;
  transform: translateX(-50%);
}

.fin {
  position: absolute;
  z-index: -1;
  width: 30px;
  height: 40px;
  background-color: #ca2e55;
  top: calc(100% - 40px);
}

.fin-left {
  left: -20px;
  border-radius: 80% 0 20% 0;
}

.fin-right {
  right: -20px;
  border-radius: 0 80% 0 20%;
}

@keyframes bounce {
  50% {
    transform: translateY(-4px);
  }
}

@keyframes launch {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-200vh);
  }
}

@-webkit-keyframes launch {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-200vh);
  }
}
/*#endregion Rocket*/

/*#region Dark*/

@media (prefers-color-scheme: dark) {
  body {
    background-color: #181a1b;
    color: white;
  }
  .header {
    background: #121212;
  }
  .home-main_socials {
    background: #1d1d1d;
  }
  .home-main {
    background: linear-gradient(
        to right,
        rgba(61, 61, 61, 0.5),
        rgba(0, 0, 0, 0.3)
      ),
      url("svg\\endless-constellation-dark.svg");

    /* background: url("svg\\endless-constellation-dark.svg"); */
  }
  .contact {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url("svg\\common-bg.svg");
  }
  .contact_form-container {
    background-color: #181a1b;
  }
  .contact_form-label {
    color: #dbdbdb;
  }
  .project-cs-hero {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url("svg\\common-bg.svg");
  }
  .skills_skill::after {
    color: white;
  }
  .window,
  .fin {
    background-color: #832161;
  }
  .header_sm-menu,
  .header_sm-menu-link a {
    color: #ffffff;
    background-color: #181a1b;
  }
}
/*#endregion Dark*/
